button {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    min-width: 120px;
    padding: 10px 20px;
    font-size: 1rem;

    color: $g-light-text-color;
    background-color: $g-main-color;
    border: 1px solid transparent;

    font-family: $g-text-font-family;
    font-weight: 700;
    text-align: center;
    transition: background-color $g-animation-speed, color $g-animation-speed;

    &:hover {
        color: $g-main-hover-color;
        background-color: $g-light-text-color;
        border: 1px solid $g-main-hover-color
    }
}