@import "variables";

.header {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    &__wrapper {
        padding: 20px 0px;

        @include flex-center;
        justify-content: space-around;
        flex-wrap: wrap;   
    }
    @include desktop-screen {
        animation: fadeout 2s ease-in;
    }
    &__button {
        @include desktop-screen {
            animation: show-button 2s;
        }
    }
}
@keyframes fadeout {
    from { 
        box-shadow: none;}
    75% { box-shadow: none; }
    to   { opacity: 1; }
}
@keyframes show-button {
    from { 
            opacity: 0; }
    75%  {  opacity: 0; }
    to   {  opacity: 1; }
}