.logo {
    @include flex-center;
    text-transform: uppercase;
    color: $g-main-color;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: $g-main-font-family;
    transition: color $g-animation-speed;
    position: relative;
    @include desktop-screen {
        animation: welcome 2s;
    }

    &:hover {
        color: $g-main-hover-color;
    }
    
    &__img-hover {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity $g-animation-speed ease-in-out;
        @include desktop-screen {
            animation: welcome-logo 2s;
        }
    }
    &:hover &__img-hover {
        opacity: 1;
        color: $g-main-hover-color;
    }
    &__img {
        @include desktop-screen {
            animation: welcome-logo 2s;
        }
    }
    &__text-wrapper {
        overflow: hidden;
    }
    
    &__text {
        @include desktop-screen {
            animation: welcome-text 500ms ease;
        }
    }
}

@keyframes welcome {
    from {  
            opacity: 1;
            transform:translate(90%, 250%);
            font-size: 2.8rem; }
    75% {   opacity: 1; 
            transform:translate(90%, 250%);
            font-size: 2.8rem; }
    to   {  }
}
@keyframes welcome-logo {
    from {      
            width: 100px;
            height: 100px; }
    75% {   width: 100px;
            height: 100px; }
    to   {  }
}

@keyframes welcome-text {
    from {  
        opacity: 0;
        transform: translateX(-100%); }
    75%  { opacity: 0.5; }
    to   {  }
}