@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin mobile-screen {
    @media (min-width: $g-small-screen) {
        @content;
    }
}

@mixin tablet-screen {
    @media (min-width: $g-medium-screen) {
        @content;
    }
}

@mixin desktop-screen {
    @media (min-width: $g-large-screen) {     
        @content;
    }
}

