.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;

    font-family: $g-text-font-family;

    background: linear-gradient(180deg, rgba(80, 81, 82, 0.5), rgba(239, 239, 239, 0.5));
    opacity: 0;
    transition: all $g-animation-speed;

    &--active {
        opacity: 1;
        z-index: 1;
    }

    @include flex-center-column;
    justify-content: center;

    &__window {
        width: 500px;
        background-color: white;
        border-radius: 0.5rem;
        padding: 15px;
        opacity: 1;
        position: relative;
    }

    &__heading-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__heading {
        font-size: 1.5rem;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    &__input {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
    }

    &__button {
        margin-top: 1.5rem;
    }
}