$g-main-color: #004DA6;
$g-main-hover-color: #0070f3;
$g-light-text-color: #FFF;

$g-main-font-family: serif;
$g-text-font-family: sans-serif;

$g-small-screen: 321px;
$g-medium-screen: 481px;
$g-large-screen: 993px;

$g-animation-speed: 300ms;
