.visit-card {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    
    
    &__more-info {
        &--hide {
            display: none;
        }
    }
}
